@charset "utf-8";

#section_1 a:after {
    content: attr(title);
}

#section_2 div {
    counter-reset: section;
}

#section_2 p:after {
    counter-increment: section;
    content: counter(section);
}

#section_3 div {
    counter-reset: section;
}

#section_3 p:after {
    counter-increment: section;
    content: counter(section);
}

#section_4 q {
    quotes: '【' '】' '[' ']';
}

#section_5 p {
    width: 200px;
    background-color: yellow;
    transition: width .5s ease 2s;
}

#section_5 p:hover {
    width: 400px;
}

#section_6 p {
    width: 200px;
    background-color: yellow;
    transition-property: width;
}

#section_6 p:hover {
    width: 400px;
}

#section_7 p {
    width: 200px;
    background-color: yellow;
    transition-property: width;
    transition-duration: .5s;
}

#section_7 p:hover {
    width: 400px;
}

#section_8 p {
    width: 200px;
    background-color: yellow;
    transition-property: width;
    transition-duration: .5s;
    transition-timing-function: linear;
}

#section_8 p:hover {
    width: 400px;
}

#section_9 p {
    width: 200px;
    background-color: yellow;
    transition-property: width;
    transition-duration: .5s;
    transition-delay: 2s;
}

#section_9 p:hover {
    width: 400px;
}